h1 {
  margin-top: 30px;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding: 40px;
}

.card {
  background: #1e293b;
  width: 220px;
  border-radius: 12px;
  padding: 20px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
  background: #334155;
}

.card img {
  width: 100px;
  margin-bottom: 10px;
}

.card h2 {
  margin: 10px 0;
}

.boton {
  margin: 30px;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  background: #2563eb;
  color: white;
  cursor: pointer;
}
