
<title>Equipos Competitivos Rainbow Six Siege</title>

<h1>Equipos Competitivos de Rainbow Six Siege</h1>

<div class="contenedor">

<a [routerLink]="['/equipos', '1']" class="card">
<img src="assets/equipos/logos/faze.png" alt="FaZe Clan">
<h2>FaZe Clan</h2>
<p>Región: Brasil</p>
<p>Six Invitational: 2</p>
<p>Títulos: 2025, 2026</p>
<p>Primer back-to-back champion</p>
</a>

<a [routerLink]="['/equipos', '2']" class="card">
<img src="assets/equipos/logos/G2.png" alt="G2 Esports">
<h2>G2 Esports</h2>
<p>Región: Europa</p>
<p>Six Invitational: 2</p>
<p>Títulos: 2019, 2023</p>
<p>Uno de los equipos más históricos</p>
</a>

<a [routerLink]="['/equipos', '3']" class="card">
<img src="assets/equipos/logos/W7M.png" alt="W7M">
<h2>W7M Esports</h2>
<p>Región: Brasil</p>
<p>Six Invitational: 1</p>
<p>Título: 2024</p>
</a>

<a [routerLink]="['/equipos', '4']" class="card">
<img src="assets/equipos/logos/SSG.png" alt="SSG">
<h2>Spacestation Gaming</h2>
<p>Región: Norteamérica</p>
<p>Six Invitational: 1</p>
<p>Título: 2020</p>
</a>

<a [routerLink]="['/equipos', '5']" class="card">
<img src="assets/equipos/logos/Nip.png" alt="NiP">
<h2>Ninjas in Pyjamas</h2>
<p>Región: Brasil</p>
<p>Six Invitational: 1</p>
<p>Título: 2021</p>
</a>

<a [routerLink]="['/equipos', '6']" class="card">
<img src="assets/equipos/logos/TSM.png" alt="TSM">
<h2>TSM</h2>
<p>Región: Norteamérica</p>
<p>Six Invitational: 1</p>
<p>Título: 2022</p>
</a>

<a [routerLink]="['/equipos', '7']" class="card">
<img src="assets/equipos/logos/BDS.png" alt="BDS">
<h2>Team BDS</h2>
<p>Región: Europa</p>
<p>Six Invitational: 0</p>
<p>Equipo top en torneos internacionales</p>
</a>

<a [routerLink]="['/equipos', '8']" class="card">
<img src="assets/equipos/logos/Liquid.png" alt="Team Liquid">
<h2>Team Liquid</h2>
<p>Región: Brasil</p>
<p>Six Invitational: 0</p>
<p>Histórico del competitivo</p>
</a>

<a [routerLink]="['/equipos', '9']" class="card">
<img src="assets/equipos/logos/DarkZero.png" alt="DarkZero">
<h2>DarkZero</h2>
<p>Región: Norteamérica</p>
<p>Six Invitational: 0</p>
<p>Top equipo de NA League</p>
</a>

<a [routerLink]="['/equipos', '10']" class="card">
<img src="assets/equipos/logos/M80.png" alt="M80">
<h2>M80</h2>
<p>Región: Norteamérica</p>
<p>Six Invitational: 0</p>
<p>Equipo competitivo reciente</p>
</a>

<a [routerLink]="['/equipos', '11']" class="card">
<img src="assets/equipos/logos/Wolves.png" alt="Wolves">
<h2>Wolves Esports</h2>
<p>Región: Europa</p>
<p>Six Invitational: 0</p>
<p>Regular en torneos internacionales</p>
</a>

<a [routerLink]="['/equipos', '12']" class="card">
<img src="assets/equipos/logos/Furia.png" alt="Furia">
<h2>FURIA</h2>
<p>Región: Brasil</p>
<p>Six Invitational: 0</p>
<p>Equipo fuerte en LATAM</p>
</a>

</div>

<a href="../jugadores/jugadores.html">
<button class="boton">⬅ Volver al menú</button>
</a>
