<div class="ranking-container">
  <h1>Ranking</h1>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Nickname</th>
        <th>MMR</th>
      </tr>
    </thead>
    <tbody>
      @for (jugador of jugadores; track jugador.id) {
        <tr [routerLink]="['/ranking', jugador.id]">
          <td>{{ jugador.id }}</td>
          <td>{{ jugador.nickname }}</td>
          <td>{{ jugador.mmr }}</td>
        </tr>
      }
    </tbody>
  </table>
  <button routerLink="/">Volver al inicio</button>
</div>
